<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="container">
      <h1>
        <%= link_to "IMDB clone", movies_path %>
        <small>
          <%= link_to "Add movie", new_movie_path, class: "btn btn-danger btn-xs" %>
        </small>
      </h1>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
